<h1>Angular Store</h1>

<nav>
  <!-- active: class css dans le css global ! -->
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav>
<!-- On peut avoir plusieurs outlet, mais donner un nom à partir du 2eme  -->
<router-outlet></router-outlet>

<footer>
  <hr />
  Copyright Angular Formation 2021 !
</footer>
